
#navbar-main
  height: 65px
  background-color: #fff
  border-color: #e7e7e7
  color: rgba(0,0,0,0.7)
  font-size: 14px
  letter-spacing: -0.02em
  font-weight: 400
  transition: 200ms background-color, 200ms color
  box-shadow: 0 0 1px rgba(0,0,0,0.10)

  .navbar-brand
    height: 65px
    padding: 24px 25px
    img 
      width: 80px
      margin-top: -32px

  .navbar-nav a
    color: rgba(0,0,0,0.7)
  
  .navbar-nav a.active,
  .navbar-nav a:hover,
  .navbar-nav a:focus,
  .navbar-nav > .active > a, 
  .navbar-nav > .active > a:hover, 
  .navbar-nav > .active > a:focus
    background-color: transparent
    padding-bottom: 18px
    border-bottom: solid 5px #FF6E40


@media (min-width: 768px)
  .navbar-brand 
    margin-left: 30px

  .navbar-nav > li > a 
    padding-top: 22px
    padding-bottom: 22px

  #form-navbar-main-search
    margin: 0

  .form-control-search
    margin-top: 15px
    margin-bottom: 15px

  .navbar-left > li > a 
    padding: 22px 20px

  .navbar-right:last-child
    margin-right: 30px
