
.search-item-box
  position: relative
  width: 100%
  height: 60px
  overflow: hidden
  margin-bottom: 10px
  cursor: pointer
  color: rgba(255,255,255,0.7)

  &.is-expanded
    height: 300px
    cursor: normal
    .search-item-user-avatar
      display: none
    .search-item-title
      font-size: 25px
    .search-item-image
      display: block
      width: 100%
      margin: 15% auto
    .search-item-genre
      display: block
      color: rgba(255,255,255,0.7)
    .search-item-track-duration
      display: none

  a 
    color: rgba(255,255,255,0.7)!important

  .search-item-box-blur
    position: absolute
    top: -10%
    left: 0
    width: 100%
    height: 120%
    background-repeat: no-repeat
    background-size: 100%
    background-position: center center
    -webkit-filter: blur(50px)

  .search-item-user-avatar
    display: inline-block
    width: 30px
    margin-right: 20px
    margin-top: -4px

    -webkit-border-radius: 50%
    -moz-border-radius: 50%
    border-radius: 50%

  .search-item-title
    color: rgba(255,255,255,0.7)!important
    font-size: 20px

  .search-item-artist
    margin-left: 10px

  .search-item-genre
    display: none

  .search-item-itunes
    margin-top: 60px

  .search-item-nav
    margin-top: 20px
    ul
      padding-left: 0
      li
        margin-right: 10px

  .search-item-track-duration
    margin-top: 20px
    font-weight: bold

  .search-item-image
    display: none

  .search-item-waveform
    width: 100%
    height: 50px
    margin-top: -17px